/*Button Styles*/

button {
    appearance: none;
    background-color: #ffffff;
    border: 2px solid #1a1a1a;
    border-radius: 0px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

/*End Button Styles*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    padding-left: clamp(4rem, 12.5vw, 12.5vw);
    padding-right: clamp(4rem, 12.5vw, 12.5vw);
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: stretch;
    background-color: bisque;
    margin-bottom: 24px;
}

nav {
    display: flex;
    justify-content: baseline;
    padding: 16px;
    padding-left: 0px;
    padding-right: 0px;
    gap: 32px;
}

.image {
    grid-area: image;
}

.title {
    grid-area: title;
}

.subtext {
    grid-area: subtext;
}

.price {
    grid-area: price;
}

.author {
    grid-area: author;
}

.home,
.menu,
.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-heading,
.section-heading {
    min-width: fit-content;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.page-heading {
    font-size: 2rem;
}

.page-heading > .image {
    width: 4rem;
    height: auto;
}

.section-heading > .image {
    width: 2rem;
    height: auto;
}

/*Menu Page Styling*/

.menu {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    gap: 10px;
}

.menu-card {
    min-width: 400px;
    border: 2px solid black;
    display: grid;
    text-align: end;
    justify-items: center;
    align-items: center;
    grid-template: 1fr 3fr 2fr / 1fr 1fr;
    grid-template-areas:
        "title image"
        "subtext image"
        "price image";
    background-color: white;
    padding: 0px;
    column-gap: 16px;
}

.menu-card > .image {
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 2px solid black;
    height: auto;
    width: 200px;
    object-fit: cover;
    justify-self: baseline;
    margin: 16px;
    margin-left: 0px;
}

.menu-card > .price {
    justify-self: end;
    text-align: end;
    align-self: baseline;
}

.menu-card > .title {
    justify-self: end;
    text-align: end;
    align-self: flex-end;
}

.menu-card > .subtext {
    justify-self: end;
    text-align: end;
}
